<template>
  <v-layout row>
    <v-flex xs6 v-for="item in 6" :key="item">
      <v-card class="ma-5">
        <v-card-text>
          <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" aspect-ratio="1.5"></v-img>
          <h1 class="ft-bold" style="color: #000; line-height: 30px">
            Pemenang Medali Emas
            Kejuaraan Pertaniaan
            ASEAN 2019
          </h1>
          <header-link class="ml-5" to="/prestasi/detail">Baca Selengkapnya</header-link>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import headerLink from "../../components/link-arrow";
export default {
  components: {
    headerLink
  },
  layout: "content"
};
</script>

<style lang="scss" scoped>
</style>