<template>
  <div class="section-alumni">
    <v-container>
      <h2 class="header-alumni ft-bold">KATA ALUMNI</h2>
      <v-layout row>
        <v-flex sm8 xs12 pa-5>
          <div v-swiper:mySwiper="swiperOption" class="swipper-item" ma-1>
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="banner in banners" :key="banner.id">
                <v-card class="ma-5 pa-5">
                  <v-layout row xs12>
                    <v-flex xs12 sm6 align-center column>
                      <v-layout xs12 sm6>
                        <v-img src="https://i.imgur.com/KjcA0f4.png"></v-img>
                      </v-layout>
                      <v-layout justify-center align-center column xs12 sm6>
                        <h2 class="ft-bold">H. Mahyeldi Ansharullah, SP</h2>
                        <h4 class="ft-bold-italic">Walikota Padang</h4>
                        <p>A'65</p>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12 sm6 class="d-flex align-center">
                      <h2 class="align-center" style="text-align: center; text-item: center;">
                        "Menjadi bagian dari Fakultas
                        Pertaniaan Universitas Andalas
                        adalah hal yang membanggakan
                        untuk saya. Lingkungan kampus
                        sangat mendukung saya
                        baik secara akademik maupun
                        non-akademik"
                      </h2>
                    </v-flex>
                  </v-layout>
                </v-card>
              </div>
            </div>
          </div>
        </v-flex>

        <v-flex sm4 xs12 pa-5>
          <v-card xs12 class="my-5 pa-3">
            <v-flex class="d-flex align-center flex-column">
              <h2 style="text-decoration: underline;" class="py-1">Total Alumni</h2>
              <h1 style="font-size: 50px" class="py-2">8.000</h1>
            </v-flex>
          </v-card>
          <v-card xs12 class="pa-3">
            <v-card-text>
              <v-flex class="bg-green-carrer pa-8 ft-bold">
                <h1 style="line-height: 30px;">Career</h1>
                <h1 style="line-height: 30px;">Center</h1>
                <h1 style="line-height: 30px;">Institute</h1>
                <h1 style="line-height: 30px;">FPUA</h1>
              </v-flex>
              <header-link to='/' class="ml-10">Kunjungi</header-link>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import headerLink from "../../components/link-arrow";
export default {
  components: {
    headerLink
  },
  data() {
    return {
      banners: [
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png"
      ],
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 30
      }
    };
  }
};
</script>

<style lang="scss">
.header-alumni {
  letter-spacing: 20px;
  text-align: center;
  line-height: 6em;
}
.section-alumni {
  background-color: #f3f3f3;
}
.bg-green-carrer {
  background-color: #1e5717;
  color: #fff;
  border-radius: initial;
}
</style>