<template>
  <div style="background-color: #fff" class="py-10">
    <v-container>
      <v-layout wrap xs12>
        <v-flex sm6 xs12 pa-5>
          <header-link to="/sorotan" style="font-size: 1.8em">Sorotan</header-link>
          <v-card height="500px" style="overflow: hidden">
            <v-card-text>
              <v-img aspect-ratio="2.1" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"></v-img>
              <h1
                style="color: #000; padding: 20px 0px; line-height: 1.3;"
              >25 Tahun Kiprah Fakultas Pertanian Universitas Andalas</h1>
              <p style="font-size: 18px; color: #000">
                Menjadi bagian dari pertumbuhan ekonomi bangsa
                adalah cita-cita yang sejak awal di inginkan. Dengan
                semangat mengembangkan pertanian Indonesia, ....
              </p>
              <header-link to="/sorotan" style="color: #aeaeae !important">Baca Selengkapnya</header-link>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm6 xs12 pa-5>
          <header-link to="/visi-misi" style="font-size: 1.8em">Visi dan Misi</header-link>

          <v-card height="500px" style="overflow: hidden">
            <v-card-text>
              <h2 style="color: #000; padding: 10px 0p ">Visi</h2>
              <p style="color: #000; font-size: 15px">
                Menjadi Fakultas yang terkemuka dan bermatabat dalam
                penyelenggaraan pendidikan, penelitian, dan pengabdian kepada
                masyarakat di bidang pertanian berkelanjutan tingkat ASEAN
                tahun 2028.
              </p>
              <h2 style="color: #000; padding: 10px 0px">Misi</h2>
              <div style="color: #000; font-size: 15px">
                <ol>
                  <li>
                    Menyelenggarakan pendidikan akademik yang
                    terkemuka, berkarakter dan berkesinambungan
                  </li>
                  <li>
                    Menyelenggarakan penelitian dasar dan terapan yang inofativ serta
                    pengabdian yang berkualitas untuk menunjang kemandirian bangsa
                  </li>
                  <li>Mendharmabaktikan IPTEKS yang dikuasai kepada masyarakat</li>
                  <li>
                    Mengembangkan organisasi dan tata kelola yang baik menuju tata
                    kelola yang unggul, serta mampu beradaptasi dengan perubahan
                    lingkungan yang strategis
                  </li>
                  <li>
                    Menjalin jaringan kerjasama yang produktif dan berkelanjutan dengan
                    kelembgaan pendidikan, pemerintahan dan dunia usaha di tingkat
                    daerah, nasional, dan internasional
                  </li>
                  <li>
                    Mengembangkan usaha-usaha yang dapat meningkatkan pendapatan
                    (revenue).
                  </li>
                </ol>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import headerLink from "../../components/link-arrow";
export default {
  components: {
    headerLink
  }
};
</script>
