<template>
  <div class="menu-jurusan">
    <div class="slide-text">Akreditasi Program Studi Fakultas Pertanian</div>
    <v-container>
      <v-layout wrap xs12 style="padding: 20px;">
        <v-flex xs12 sm6>
          <h2 class="font-bold">Program Sarjana (S1)</h2>
          <v-layout row>

          <v-flex xs12 sm6>
            <ul class="list-akreditasi">
              <li>
                <span class="akreditasi">A</span>Agroteknologi
              </li>
              <li>
                <span class="akreditasi">A</span>Agribisnis
              </li>
              <li>
                <span class="akreditasi">A</span>Ilmu Tanah
              </li>
              <li>
                <span class="akreditasi">A</span>Agroekoteknologi
              </li>
            </ul>
          </v-flex>
          <v-flex xs12 sm6>
            <ul class="list-akreditasi">
              <li>
                <span class="akreditasi">A</span>Proteksi Tanaman
              </li>
              <li>
                <span class="akreditasi">A</span>Penyuluhan Pertanian
              </li>
            </ul>
          </v-flex>
          </v-layout>

        </v-flex>
        <v-flex xs12 sm3>
          <h2 class="font-bold">Program Sarjana (S1)</h2>
          <ul class="list-akreditasi">
            <li>
              <span class="akreditasi">A</span>Agroteknologi
            </li>
            <li>
              <span class="akreditasi">A</span>Agribisnis
            </li>
            <li>
              <span class="akreditasi">A</span>Ilmu Tanah
            </li>
            <li>
              <span class="akreditasi">A</span>Agroekoteknologi
            </li>
          </ul>
        </v-flex>
        <v-flex xs12 sm3>
          <h2 class="font-bold">Program Sarjana (S1)</h2>
          <ul class="list-akreditasi">
            <li>
              <span class="akreditasi">A</span>Agroteknologi
            </li>
            <li>
              <span class="akreditasi">A</span>Agribisnis
            </li>
            <li>
              <span class="akreditasi">A</span>Ilmu Tanah
            </li>
            <li>
              <span class="akreditasi">A</span>Agroekoteknologi
            </li>
          </ul>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.list-akreditasi {
  li {
    list-style: none;
    margin-left: -15px;
    margin-bottom: 5px;
    font-size: 1.2em;
  }
  .akreditasi {
    background-color: #1e5717;
    color: #fff;
    font-size: 0.7em;
    font-family: Noah-Bold;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
  }
}
.font-bold {
  font-family: Noah-Bold;
}
.slide-text {
  font-family: Noah-BoldItalic;
  font-size: 25px;
  color: #fff;
  padding: 20px;
  text-align: center;
  background-color: #1e5717;
}
.menu-jurusan {
  background-color: #F3F3F3;
}
</style>