<template>
  <div style="background-color: #fff;" class="py-10">
    <v-container>
      <v-layout wrap xs12>
        <v-flex sm6 xs12 my-5>
          <header-link to="/agenda" style="font-size: 1.8em">Agenda</header-link>
          <v-flex v-for="(item, i) in items" :key="i" py-3 px-3 mr-5>
            <v-card :color="item.color" height="120px">
              <v-card-text>
                <v-layout row xs12>
                  <v-flex
                    align-center
                    column
                    pa-2
                    xs2
                    ml-5
                    style="font-size: 25px; align-tiem: center; background-color: #1E5717; color: #fff"
                  >
                    <div>17</div>
                    <div>SEP</div>
                  </v-flex>
                  <v-flex column xs9 ml-4>
                    <h2 class="mb-2" style="color: #000; line-height: 30px;">Seminar Internasional Budidaya Tanaman Indonesia</h2>
                    <v-flex row justify-space-between px-5 pr-10>
                      <div class="ft-bold"><v-icon small>mdi-map-marker-plus</v-icon> Perpustakaan Lt. 1</div>
                      <div class="ft-bold"><v-icon small>mdi-timer</v-icon> 09:00 - 12:00</div>
                    </v-flex>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-flex>
        <v-flex sm6 xs12 my-5>
          <header-link to="/berita" style="font-size: 1.8em">Berita</header-link>
          <v-flex v-for="(item, i) in items" :key="i" py-3 px-3 mr-5>
            <v-card :color="item.color" height="120px">
              <v-card-text>
                <v-layout row xs12>
                  
                  <v-flex column xs9 ml-4>
                    <h2 class="mb-2" style="color: #000; line-height: 30px;">{{item.title}}</h2>
                    <v-flex row justify-space-between px-5 pr-10>
                      <div><v-icon small>mdi-account</v-icon> Admin Fakultas <br>
                       09:00 - 12:00</div>
                    </v-flex>
                  </v-flex>
                  <v-flex
                    align-center
                    column
                    xs2
                  >
                    <v-img :src="item.src"></v-img>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          
          </v-flex>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import headerLink from "../../components/link-arrow";
export default {
  components: {
    headerLink
  },
  data() {
    return {
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/cards/docks.jpg",
          title: "Pendaftaran Beasiswa PPA TA 2019/2020",
          artist: "Admin Fakultas",
          date: "21/07/2019"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/cards/docks.jpg",
          title: "Pendaftaran Beasiswa PPA TA 2019/2020",
          artist: "Foster the People",
          date: "21/07/2019"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/cards/docks.jpg",
          title: "Pendaftaran Beasiswa PPA TA 2019/2020",
          artist: "Foster the People",
          date: "21/07/2019"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
</style>