<template>
  <v-carousel height="400" hide-delimiter-background show-arrows-on-hover>
    <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src">
      <v-layout class="slide-description">
        <v-layout align-center fill-height justify-center></v-layout>
      </v-layout>
      <!-- </v-sheet> -->
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data() {
    return {
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4"
      ],
      slides: ["First", "Second", "Third", "Fourth", "Fifth"],
      items: [
        {
          src: "https://i.imgur.com/nIceqesl.png"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.slide-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
}
</style>