<template>
  <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
  <div class="slideItem">
    <v-container>
      <h2 class="header-prestasi ft-bold">PRESTASI</h2>
      <div v-swiper:mySwiper="swiperOption" class="swipper-item">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="banner in banners" :key="banner.id">
            <v-card>
              <v-card-text style="width: 90%">
                <v-img aspect-ratio="1.3" :src="banner"></v-img>
                <h2 class="font-bold" style="color: #000; padding: 10px 0px; line-height: 1;">
                  Pemenang Medali Emas
                  Kejuaraan Pertaniaan
                  ASEAN 2019
                </h2>
              <v-btn text class="btn-small-text">Baca selengkapnya</v-btn>
              </v-card-text>
            </v-card>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
// console.log(this.$vuetify.breakpoint.name)
export default {
  data() {
    return {
      banners: [
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png",
        "https://i.imgur.com/CqL0kkj.png"
      ],
      swiperOption: {
        slidesPerView: this.$vuetify.breakpoint.smAndDown ? 1 : 3,
        spaceBetween: 30
      }
    };
  }
};
</script>


<style lang="scss" scoped>
.slideItem {
  background-color: #1e5717;
}
.btn-small-text {
  text-transform: initial !important;
}
.header-prestasi {
    letter-spacing: 20px;
    color: #fff;
    line-height: 8em;
    text-align: center;
}
.swipper-item{
  padding-bottom: 10em;
}
</style>
