<template>
  <nuxt-link :to="to" class="link-arrow">
    <v-layout>
      <span style="text-align: center; color: #000" class="ft-bold"><slot></slot></span>
      <img :src="imgArrow" width="30" height="30"/>
    </v-layout>
  </nuxt-link>
</template>

<script>
import arrowLink from "../assets/images/link-arrow.png";
export default {
  props: ["to"],
  data() {
    return {
      imgArrow: arrowLink
    };
  }
};
</script>

<style lang="scss">
.link-arrow {
  text-decoration: none;
  color: #000;
}
</style>