<template>
  <v-list style="background-color: initial; color:#AEAEAE" class="pr-12">
    <div v-for="menu in menus" :key="menu.name">
      <v-list-item exact-active-class="active-list" class="main-list" v-if="menu.children === undefined" :to="menu.link">
        <v-list-item-title>{{menu.name}}</v-list-item-title>
      </v-list-item>

      <v-list-group v-else class="main-list" >
        <template v-slot:activator>
          <v-list-item-title>{{menu.name}}</v-list-item-title>
        </template>

        <v-list-group
          no-action
          sub-group
          value="true"
          v-for=" child in menu.children"
          :key="child.name"
          exact-active-class="active-list"
        >
          <template v-slot:activator>
            <v-list-item-title>{{child.name}}</v-list-item-title>
          </template>

          <v-list-item v-for="subChild in child.children" :key="subChild.name" exact-active-class="active-list" :to="subChild.link">
            <v-list-item-title v-text="subChild.name"></v-list-item-title>
          </v-list-item>
        </v-list-group>
      </v-list-group>
    </div>
  </v-list>
</template>

<script>
export default {
  data() {
    return {
      menus: [
        { name: "Sorotan", link: "/sorotan" },
        { name: "Agenda", link: "/agenda" },
        {
          name: "Barita & Pengumuman",
          children: [
            {
              name: "2019",
              children: [
                { name: "Januari" ,link: "/news"},
                { name: "Februari" ,link: "/Februari"},
                { name: "Maret" ,link: "/Maret"}
              ]
            },
            {
              name: "2018",
              children: [
                { name: "Januari" ,link: "/Januari"},
                { name: "Februari" ,link: "/Februari"},
                { name: "Maret" ,link: "/Maret"}
              ]
            }
          ]
        },
        {
          name: "Prestasi",
          children: [
            {
              name: "2019",
              children: [
                { name: "Januari" ,link: "/prestasi/detail"},
                { name: "Februari" ,link: "/prestasi/februari"},
                { name: "Maret" ,link: "/prestasi/maret"}
              ]
            },
            {
              name: "2018",
              children: [
                { name: "Januari"  ,link: "/sorotan"},
                { name: "Februari" ,link: "/Februari"},
                { name: "Maret" ,link: "/Maret"}
              ]
            }
          ]
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.v-list-item {
  min-height: 35px !important;
}
.v-list-group {
  min-height: 35px !important;

  .v-list-item-title {
    min-height: 35px !important;
  }
}
.v-list-item__icon {
  margin: initial;
}
.main-list {
  border-bottom: 1px solid #aeaeae;
}
.active-list {
  color: #000 !important;
  border-bottom: 1px solid #000;
}
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled), .v-list-item__icon .v-list-group__header__append-icon, .v-icon .theme--light {
  color: #aeaeae !important;
}
</style>