@font-face {
    font-family: 'Noah-Regular';
    src: url('../fonts/Noah-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noah-RegularItalic';
    src: url('../fonts/Noah-RegularItalic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noah-Bold';
    src: url('../fonts/Noah-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noah-BoldItalic';
    src: url('../fonts/Noah-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}