$font-size-root: 20px;

.v-card {
    border-radius: 27px !important;
    box-shadow: 5px 2px 16px -3px rgba(0,0,0,0.16) !important;
    -webkit-box-shadow: 5px 2px 16px -3px rgba(0,0,0,0.16) !important;
    -moz-box-shadow: 5px 2px 16px -3px rgba(0,0,0,0.16) !important;
}

.v-toolbar {
    box-shadow: 5px 2px 16px -3px rgba(0,0,0,0.16) !important;
    -webkit-box-shadow: 5px 2px 16px -3px rgba(0,0,0,0.16) !important;
    -moz-box-shadow: 5px 2px 16px -3px rgba(0,0,0,0.16) !important;
}

.ft-bold {
    font-family: 'Noah-Bold'
}

.ft-bold-italic {
    font-family: 'Noah-BoldItalic'
}

.ft-reguler {
    font-family: 'Noah-Regular'
}

.ft-p1 {
    font-size: 15px;
}

.ft-p2 {
    font-size: 18px;
}

.ft-p3 {
    font-size: 21px;
}

.ft-p4 {
    font-size: 22px;
}

body {
    font-size: 12px;
}