<template>
  <v-card>
    <v-card-text class="pa-8">
      <h1 class="title-post ft-bold py-3">Pendaftaran Beasiswa PPA TA 2019/2020</h1>
      <p>
        Admin Fakultas
        <br />20/07/2019
      </p>
      <v-img src="https://i.imgur.com/CqL0kkj.png" aspect-ratio="2"></v-img>
      <v-flex class="content py-5">
        <p>Persyaratan Beasiswa PPA Tahun 2019 :</p>

        <p>
          Memiliki prestasi akadernik yang baik minimal Indeks Prestasi Komulatif (IPK) 3.00.
          <br />Minimal telah duduk pada senrester II dan maksimal duduk pada semester VI
          <br />Jenjang D.III telah duduk semester II dan maksimal duduk pada semester IV.
          <br />Rekomendasi dari pimpinan Fakultas.
          <br />Tidak sedang menerima beasiswa lain.
          <br />Foto copy Kartu Keluarga.
          <br />Tanda bukti sebagai mahasiswa aktif.
          <br />Mematuhi tata tertib kehidupan kampus
          <br />Adapun kelengkapan yang dikumpulkan ke Fakultas adalah :
        </p>

        <p>
          Transkrip Nilai Sementara yang legalisir oleh Kasubag Akademik dan Kemahasiswaan
          <br />Surat Keterangan sebagai mahasiswa aktif dan tidak sedang menerima beasiswa lainnya
          <br />Surat pernyataan yang memuat mematuhi tata tertib kehidupan kampus
          <br />Surat Keterangan Penghasilan / Slip Gaji Ayah/Ibu
          <br />Foto copy Kartu Keluarga.
          <br />Setiap mahasiswa yang mendaftar beasiswa PPA Tahun 2019 wajib mengisi form online pada menu Pendaftaran
        </p>

        <p>Semua berkas dimasukan dalam map yang ditulis nama,No BP, Jurusan dan No HP di depannya dengan warna : Hijau</p>

        <p>Berkas Seleksi Penerimaan Beasiswa PPA paling lambat di kumpul ke Fakultas Tanggal 11 Juli 2019 Pukul 12.00 Wib</p>
      </v-flex>
      <hr />
      <v-flex class="d-flex justify-space-around">
        <v-flex class="d-flex justify-align-center flex-column px-12">
          <h3 class="py-2" style="text-align: center">Download File</h3>
          <v-btn x-large color="success" class=" ft-bold">Download</v-btn>
        </v-flex>
        <v-flex class="d-flex justify-align-center flex-column px-12">
          <h3 class="py-2" style="text-align: center">Link</h3>
          <v-btn x-large color="warning" class="ft-bold">Pendaftaran PPA</v-btn>
        </v-flex>
      </v-flex>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  layout: "content"
};
</script>

<style lang="scss" scoped>
.content {
  color: #000;
  font-size: 18px;
}
.title-post {
  color: #000;
}
</style>