<template>
  <div>
    <v-flex v-for="(item, i) in 5" :key="i" py-3 px-3 mr-5>
      <v-card to="/news/detail">
        <v-card-text>
          <v-layout row xs12>
            <v-flex column xs10 pl-4>
              <h2 class="mb-2 ft-bold" style="color: #000; line-height: 30px;">Pendaftaran Beasiswa PPA TA 2019/2020</h2>
              <v-flex row justify-space-between px-5 pr-10>
                <div>
                  <v-icon small>mdi-account</v-icon>Admin Fakultas
                  <br />09:00 - 12:00
                </div>
              </v-flex>
            </v-flex>
            <v-flex align-center xs2 pr-3>
              <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"></v-img>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
export default {
  layout: "content"
};
</script>

<style lang="scss" scoped>
</style>