<template>
  <v-app ligth style="background-color: #fff; font-family: Noah-Regular !important" class="noah-font-style">
    <!-- <NavigationHeader /> -->
    <v-app-bar fixed app height="80">
      <NavigationAppBar />
    </v-app-bar>
    <nuxt style="margin-top: 80px;" />
    <NavigationFooter />
  </v-app>
</template>

<script>
import NavigationHeader from "../components/_Layout/LayoutNavigationDrawer";
import NavigationFooter from "../components/_Layout/LayoutFooter";
import NavigationAppBar from "../components/_Layout/LayoutAppBar";
export default {
  components: {
    NavigationHeader,
    NavigationFooter,
    NavigationAppBar
  },
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/"
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js"
    };
  }
};
</script>

<style>
@media (min-width: 1904px) {
  .container {
    max-width: 1264px !important;
  }
}

.noah-font-style {
  font-family: Noah-Regular;
}

.app-nav-bar {
  width: 100%;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  /* box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12) !important */
}

</style>
