<template>
  <v-layout row>
    <v-flex v-for="(item, i) in 5" :key="i" py-3 px-3 mr-5>
      <v-card :color="item.color" height="120px">
        <v-card-text>
          <v-layout row xs12>
            <v-flex
              align-center
              column
              pa-2
              xs2
              ml-5
              style="font-size: 25px; align-tiem: center; background-color: #1E5717; color: #fff"
            >
              <div>17</div>
              <div>SEP</div>
            </v-flex>
            <v-flex column xs9 ml-4>
              <h2
                class="mb-2"
                style="color: #000; line-height: 30px;"
              >Seminar Internasional Budidaya Tanaman Indonesia</h2>
              <v-flex column px-5 pr-10>
                <div class="ft-bold">
                  <v-icon small>mdi-map-marker-plus</v-icon>Perpustakaan Lt. 1 
                </div>
                <div class="ft-bold">
                   <v-icon small>mdi-timer</v-icon>09:00 - 12:00
                </div>
              </v-flex>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  layout: "content"
};
</script>

<style lang="scss" scoped>
.title-post {
  color: #000;
}
</style>