<template>
  <v-layout column>
    <Slider />
    <MenuJurusan />
    <FeatureItem/>
    <NewsAndEvent/>
    <SliderItem />
    <Alumni />
  </v-layout>
</template>

<script>
import Logo from "~/components/Logo.vue";
import VuetifyLogo from "~/components/VuetifyLogo.vue";
import Slider from "~/components/Home/Slider.vue";
import MenuJurusan from "~/components/Home/MenuJurusan.vue";
import FeatureItem from "~/components/Home/FeatureItem";
import NewsAndEvent from "~/components/Home/NewsAndEvent";
import SliderItem from "~/components/Home/SliderItem";
import Alumni from "~/components/Home/Alumni";

export default {
  components: {
    Logo,
    VuetifyLogo,
    Slider,
    MenuJurusan,
    FeatureItem,
    NewsAndEvent,
    SliderItem,
    Alumni
  }
};
</script>
