<template>
  <v-card>
    <v-card-text class="pa-8">
      <h1 class="title-post ft-bold py-3">25 Tahun Kiprah Fakultas Pertanian Universitas Andalas</h1>
      <p>
        Admin Fakultas
        <br />20/07/2019
      </p>
      <v-img src="https://i.imgur.com/CqL0kkj.png" aspect-ratio="2"></v-img>
      <v-flex class="content py-5">
        <p>Kehadiran Universitas Andalas sebagai sebuah perguruan tinggi kebanggaan masyarakat Sumatera Barat bukanlah datang secara tiba-tiba. Hasrat masyarakat Sumatera Barat untuk mendirikan sebuah perguruan tinggi sudah tumbuh semenjak memasuki abad ke-20. Hal itu dapat dipahami karena pada masa itu sudah muncul golongan intelektual dan cendekiawan yang peduli dengan pendidikan anak bangsa. Namun, pemerintahan kolonial Belanda tidak memberi kesempatan sedikitpun untuk mewujudkannya.</p>
        <p>Gagasan mendirikan perguruan tinggi di Sumatera Barat kembali mengemuka seiring dengan diproklamirkannya Kemerdekaan Indonesia oleh Ir.Soekarno dan Drs.Mohammad Hatta. Para pemuka masyarakat Sumatera Barat merasakan bahwa kebutuhan generasi muda yang terdidik, sangat mendesak. Merekalah yang diharapkan dapat mengisi kemerdekaan dan membawa kemajuan dan kejayaan bangsa di masa datang. Akan tetapi, berhubung pada waktu itu dalam suasana Perang Kemerdekaan, menentang kedatangan bangsa Belanda yang hendak menjajah Indonesia kembali, maka hasrat itu terpendam lagi.</p>
        <p>Keinginan itu akhirnya dapat diwujudkan pada tahun 1948 dengan mendirikan 6 (enam) akademi yang terdiri dari Akademi Pamong Praja, Akademi Pendidikan Jasmani, dan Akte A Bahasa Inggris, Akademi Kadet, dan Sekolah Inspektur Polisi. Keenam akademi tersebut berada di Bukittinggi. Keberhasilan mendirikan enam akademi ini semakin memacu para pemuka masyarakat Sumatera Barat untuk mendirikan sebuah universitas.</p>
        <p>Pada tahun 1949 pemerintah Indonesia merencanakan untuk mendirikan Fakultas Hukum di Padang, Fakultas Kedokteran di Medan dan Fakultas Ekonomi di Palembang. Namun, karena berbagai keterbatasan yang dihadapi pada waktu itu, pemerintah Indonesia menunda untuk menyetujuinya.</p>
      </v-flex>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  layout: "content",
};
</script>

<style lang="scss" scoped>
.content {
  color: #000;
  font-size: 18px;
}
.title-post {
  color: #000;
}
</style>