<template>
  <!-- <v-app-bar> -->
  <v-container>
    <v-layout row my-2>
      <v-flex style="margin: 10px 0 0 0;" row>
        <v-img src="https://i.imgur.com/cFLLkot.png" aspect-ratio="4" max-width="60" height="60" />
        <v-flex column style="padding: 20px 0px 0px 19px">
          <div class="ft-bold" style="font-size: 21px; line-height: 10px;">{{title}}</div>
          <div class="ft-regular" style="font-size: 18px;">{{subTitle}}</div>
        </v-flex>
      </v-flex>

      <v-flex
        class="d-flex align-end flex-column"
        v-if="!$vuetify.breakpoint.smAndDown"
        width="100%"
      >
        <v-flex style="height: 30px;">
          <v-btn class="header-btn">Calon Mahasiswa</v-btn>
          <v-btn class="header-btn">Mahasiswa</v-btn>
          <v-btn class="header-btn">Dosen / Staf</v-btn>
          <v-btn class="header-btn">Alumni</v-btn>
          <v-btn icon>
            <v-icon>mdi-account-circle</v-icon>
          </v-btn>
        </v-flex>
        <v-flex>
          <v-btn text class="header-menu" :to="m.link" v-for="m in menu" :key="m.name">{{m.name}}</v-btn>
          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </v-flex>
      </v-flex>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="$vuetify.breakpoint.smAndDown" class="pa-5"/>
      <!-- <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>-->
    </v-layout>
  </v-container>
  <!-- </v-app-bar> -->
</template>

<script>
export default {
  data() {
    return {
      title: "Fakultas Pertanian",
      subTitle: "Universitas Andalas",
      menu: [
        { name: "Home", link: "/" },
        { name: "Profil", link: "#", children: [{ name: "", link: "" }] },
        { name: "Akademik", link: "#", children: [{ name: "", link: "" }] },
        { name: "Riset", link: "#", children: [{ name: "", link: "" }] },
        {
          name: "Kemahasiswaan",
          link: "#",
          children: [{ name: "", link: "" }]
        },
        { name: "FAQ", link: "" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.header-btn {
  box-shadow: initial;
  background-color: initial !important;
  text-transform: initial !important;
  font-size: 12px;
  border-radius: 20px;
  height: 2em !important;
  border: 1px solid #707070;
}
.header-menu {
  text-transform: initial !important;
}
.v-btn--active {
  font-family: "Noah-Bold";
  background-color: initial !important;
}
</style>