<template>
  <div class="section-footer">
    <v-container>
      <v-layout pa-10 row>
        <v-flex sm8 xs12 column>
          <h1>Kontak Kami</h1>
          <v-layout row>
            <v-flex sm6>
              <p>
                Fakultas Pertanian Universitas Andalas
                <br />Kampus Unand Limau Manis,
                <br />Kec. Pauh, Kota Padang,
                <br />Sumatera Barat.
                <br />Kode Pos: 25163
              </p>
            </v-flex>
            <v-flex sm6>
              <p>
                Telepon: (0751) 72701-72702
                <br />Fax: (0751) 72702
                <br />Email: faperta@unand.ac.id
                <br />
              </p>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex sm4 xs12>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.3127414770256!2d100.46205204550785!3d-0.9121370824297323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd4b795178a3f07%3A0x2b9db070640c5627!2sFaculty%20of%20Agriculture!5e0!3m2!1sen!2sid!4v1566775651046!5m2!1sen!2sid" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.section-footer {
  background-color: #aeaeae;
}
</style>